apiVersion: apps/v1
kind: Deployment
metadata:
  name: weatherly-frontend
spec:
  template:
    spec:
      containers:
        - name: frontend
          image: sfalconi2001/weatherly-frontend:0.21.0